@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[2.5rem] font-sans capitalize;
  }

  h2 {
    @apply text-[2rem] font-sans capitalize;
  }

  h3 {
    @apply text-[1.5rem] font-sans capitalize;
  }

  h4 {
    @apply text-[1.25rem] font-sans capitalize;
  }

  h5 {
    @apply text-[1rem] font-sans capitalize;
  }

  p,
  ul {
    /* Overgenomen van de m styling */
    @apply text-[1rem] leading-[22px] font-display;
  }

  a {
    @apply text-[1rem] leading-[22px] font-display;

    .url_animation {
      --undo-distance: 7px;

      display: inline-block;
      padding-bottom: 2px;
      background-image: linear-gradient(#000 0 0);
      background-position: 2px calc(100% - var(--undo-distance));
      background-size: 0% 1px;
      background-repeat: no-repeat;
      transition:
        background-size 0.3s,
        background-position 0s 0.3s;

      &:hover {
        background-position: 100% calc(100% - var(--undo-distance));
        background-size: 100% 1px;
      }
    }
  }
}
